/* CURRENT COLOUR SCHEME*/
[data-bs-theme=custom] {
--black: #000000ff;
--paynes-gray: #546375ff;
--prussian-blue: #293e55ff;
--blue: #0000ffff;
--celtic-blue: #016dcdff;
--dark-cyan: #21897eff;
--moss-green: #8b935bff;
--carrot-orange: #f49d37ff;
--crimson: #d72638ff;
}

h1 {
    text-align: center;
}

.navbar a{
    font-family: Verdana !important;
    font-size: 12px !important;
}

.bg-primary{
    background-color: blue !important;
}

.nav-link {
    transition: all 0.2s;
    position: relative;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover {
    color:white;
}

.nav-link:hover::after{
    opacity: 1;
}

.btn-primary{
    background-color: #21897e;
}
.btn-primary:hover {
    background-color: #293e55 !important;
}
.btn-primary:active{
    background-color: #016dcd !important;
}

.btn-link{
    color: white;
}
.btn-link:hover{
    color: #293e55;
}

.white{
    color: white !important;
}
.red{
    color: #d72638 !important;
    padding: 0px 4px 4px 4px;
}

html, body{
    height: 100%;
    background-color: black;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main{
    height: 90vh;
    background-image: url('arcade-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#welcome{
    background-color: #016dcd;
    color: white;
    width:fit-content;
    padding: 50px 100px;
    align-content: center !important;
    text-align: center;
}

#click-to-play{
    margin: 1vh;
}

#reg-form{
    background-color: #293e55;
    color: white !important;
    padding: 30px;
    border-radius: 25px;
}

/* game window */
.GameDiv {
    background-color: gray;
    box-shadow: 5px 5px;
    width: fit-content;
    height: fit-content;
}

canvas {
    background-color: #ffffff00;
    vertical-align: bottom;
}

/* tab */
.tab {
    overflow: hidden;
    background-color: #21897e;
    border-radius: 10px 10px 0px 0px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #0a58ca;
  }
  
  .tab button.active {
    background-color: #016dcd;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #016dcd;
    border-top: none;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .button {
    padding:15px;
    border-radius: 10px 10px 0px 0px;
    color: white;
  }

  .tab-group {
    border-radius: 10px;
    box-shadow: 5px 5px black;
    background-color: #21897e;
  }

/* Avatar */
.avatar-container{
    position:relative;
    width: 500px;
    height: 500px;
    margin:8px;
}
.avatar-container.icon{
    width: 30px;
    height: 30px;
}

.avatar-image-1{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.avatar-image-2{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.avatar-image-3{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

#submit-button{
    background-color: #016dcd;
}
#submit-button:hover{
    background-color: #0a58ca !important;
}

/* leaderboard */
.leaderboard{
    background-color: gray;
    box-shadow: 5px 5px black;
    align-content: center;
    text-align: center;
    padding: 1%;
    color: white;
}

table{
    width: 90vw;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th:not(:empty) {
    border-spacing: 2px;
    border-color: #293e55;
    text-align: center;
    border: 1px solid black;
}
th:empty{
    border: none;
}
th{
    color: white;
    background-color: blue;
}

td.no-right-border{
    border-right: none;
    width:30px;
}
td.no-left-border{
    border-left: none;
    text-align: left;
}